.heading{
  width:100%;
  margin:30px 0px 30px 0px;
  font-size:30px;
  font-weight:bold;
  color:#00AB9F;
  text-align: center;
}

.division{
  margin:auto;
  width:70%;
  max-height:600px;
}

.maindiv{
  float:left;
  border:1px #D3282D solid;
  border-radius:5px;
  padding:10px;
}

.formheading{
  float:left;
  width:100%;
  font-size:25px;
  color:#00AB9F;
  margin-top:10px;
  text-align: center;
}

.regtable{
  width:100%;
  padding-bottom:50px;
}

.regtr{
  float:left;
  width:50%;
}

.regtd{
  float:left;
  width:49.1%;
  max-height:50px;
  text-align:center;
  margin-top:7px;
}

.regtext{
  width:80%;
  border-radius:5px;
  border:1px #D3282D solid;
  box-shadow:5px 5px 10px #AAAAAA;
  padding:10px;
}

.buttontd{
  width:30%;
  margin-top:125px;
}

.button{
  color:mintcream;
  background-color:#00AB9F;
  border:none;
  margin-left:20px;
}

.common{
  margin:auto;
  width:25%;
  max-height:600px;
}

p{
  font-size:20px;
  color:#D3282D;
}

ol , h2 , h3{
  font-size:20px;
  color:#00AB9F;
  margin:5px 0px 5px 0px;
}

.commontable{
  width:100%;
  padding-bottom:50px;
}

.commontr{
  float:left;
  width:100%;
}

.commontd{
  float:left;
  width:100%;
  max-height:50px;
  text-align:center;
  margin-top:35px;
}

.commontext{
  width:80%;
  border-radius:5px;
  border:1px #D3282D solid;
  box-shadow:5px 5px 10px #AAAAAA;
  padding:10px;
}

.commonbutton{
  width:40%;
  color:mintcream;
  background-color:#00AB9F;
  border:none;
}

.doctortable{
  width:100%;
  padding-bottom:50px;
}

.doctortr{
  float:left;
  width:33%;
  min-height:50px;
}

.doctortd{
  float:left;
  width:100%;
  min-height:20px;
  text-align:center;
  margin-top:35px;
  color:#00AB9F;
}

.doctortd:nth-child(1){
  text-decoration: underline;
}

.doctortd:nth-child(3){
  text-decoration: underline;
}

.room{
  float:left;
  width:31.4%;
  height:23%;
  padding:10px;
  color:#D3282D;
  font-size:20px;
}

.room img{
  width:100%;
  height:100%;
}

/*mobile*/
@media (min-width:320px) and (max-width:480px)
{
  .heading{
    margin:15px 0px 15px 0px;
    font-size:20px;
  }

  .division{
    width:80%;
  }

  .maindiv{
    padding:5px;
  }

  .formheading{
    font-size:20px;
  }

  .regtr{
    width:100%;
  }

  .regtd{
    width:100%;
    margin-top:5px;
  }

  .regtext{
    width:80%;
    padding:5px;
  }

  .buttontd{
    width:100%;
    margin-top:10px;
  }

  .button{
    margin-left:0px;
  }

  p{
    font-size:15px;
  }

  ol , h2 , h3{
    font-size:15px;
  }

  .common {
    width:65%;
  }

  .commontd{
    margin-top:20px;
  }

  .commontext{
    padding:5px;
  }

  .commonbutton{
    width:80%;
  }

  .doctortr{
    width:100%;
  }

  .doctortd{
    margin-top:0px;
  }

}

/*tablet*/
@media (min-width:481px) and (max-width:767px)
{
  .heading{
    margin:20px 0px 20px 0px;
    font-size:25px;
  }

  .division{
    width:100%;
  }

  .maindiv{
    padding:5px;
  }

  .formheading{
    font-size:20px;
    min-height:35px;
  }

  .regtr{
    width:50%;
  }

  .regtd{
    width:100%;
    margin-top:5px;
  }

  .regtext{
    width:80%;
    padding:8px;
  }

  .buttontd{
    width:100%;
    margin-top:10px;
  }

  .button{
    margin-left:0px;
  }

  p{
    font-size:18px;
  }

  ol , h2 , h3{
    font-size:18px;
  }

  .common {
    width:40%;
  }

  .commontd{
    margin-top:25px;
  }

  .commontext{
    padding:10px;
  }

  .commonbutton{
    width:50%;
  }

  .doctortable{
    width:100%;
    padding-bottom:50px;
  }

  .doctortr{
    width:100%;
  }

  .doctortd{
    margin-top:0px;
  }

}
