html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: myfont;
  src: url(../Font/raleway/Raleway-Light.ttf);
}

:root {
  --blue: #00AB9F;
  --red: #D3282D;
  --mintcream: mintcream;
  --ligthgrey: #AAAAAA;
}

body {
  margin: 0.25vh 0.25vw;
  font-family: myfont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 20px;
  color: var(--red);
}

ol,
h2,
h3 {
  font-size: 16px;
  color: var(--blue);
}

h2 {
  color: var(--red);
}

.main {
  width: 100%;
  height: 99.45vh;
  border: 1px var(--blue) solid;
  border-radius: 0px 0px 10px 10px;
  overflow: scroll;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 25px;
  border-bottom: 1px var(--blue) solid;
}

header a {
  width: auto;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: var(--blue);
  font-size: 17px;
  text-decoration: none;
}

header img {
  width: 30px;
  height: 30px;
}

/* ----------------------------------------- Home page ----------------------------------------- */
nav {
  width: 99.3%;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-image: linear-gradient(to right, var(--blue), var(--red));
}

nav div {
  width: 50%;
  margin: auto;
  display: flex;
}

nav div a {
  color: var(--mintcream);
  text-decoration: none;
  width: 40%;
  text-align: center;
  margin: 5px;
}

article {
  width: 100%;
  height: 100%;
  border-top: 1px var(--blue) solid;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

article>aside,
article>section {
  padding: 5px;
}

article aside {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

article aside a {
  font-size: 16px;
  text-decoration: none;
  color: var(--blue);
  text-align: center;
}

section {
  width: 75%;
  height: 100%;
  border-left: 1px solid var(--blue);
}

section div {
  width: 100%;
  height: 100%;
  background-image: url("../Images/Main.jpg");
  background-size: 200% 200%;
  animation: mainImage 50s infinite;
  -webkit-animation: mainImage 50s infinite;
  border-radius: 0px 0px 10px 0px;
}

/* ----------------------------------------- Common pages ----------------------------------------- */
.heading {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  text-align: center;
}

.common-70 {
  width: 70%;
}

.common-35 {
  width: 35%;
}

.common-25 {
  width: 25%;
}

.common-70,
.common-35,
.common-25 {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.common-div {
  width: 100%;
  border: 1px var(--red) solid;
  border-radius: 5px;
  padding: 20px;
}

.common-blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.registration-heading {
  width: 100%;
  font-size: 25px;
  color: var(--blue);
  text-align: center;
}

.registration-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.registration-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.registration-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 3;
}

.registration-column {
  width: 100%;
  text-align: center;
}

.registration-column>h4 {
  color: var(--blue);
  text-decoration: underline;
}

.registration-input {
  width: 100%;
  border-radius: 5px;
  border: 1px var(--red) solid;
  box-shadow: 5px 5px 10px var(--lightgrey);
  padding: 10px;
}

.registration-one-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr) !important;
}

.registration-two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
}

.button {
  color: var(--mintcream);
  background-color: var(--blue);
  border: none;
}

.display {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-three {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.room {
  width: 100%;
  height: 200px;
}

.room img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}

@keyframes mainImage {
  0% {
    background-position: 0px 0px
  }

  25% {
    background-position: 100% 100%
  }

  50% {
    background-position: 0px 100%
  }

  75% {
    background-position: 100% 0px
  }

  100% {
    background-position: 0px 0px
  }
}

/*tablet*/
@media (min-width:481px) and (max-width:767px) {
  p {
    font-size: 18px;
  }

  ol,
  h2,
  h3 {
    font-size: 18px;
  }

  nav {
    height: 44px;
    margin: 2px;
    padding: 5px 0px 5px 0px;
  }

  nav div {
    width: 90%;
  }

  article>aside,
  article>section {
    padding: 2px;
  }

  article aside {
    width: 60%;
    padding: 15px;
  }

  article aside a {
    width: 100%;
  }

  section {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .heading {
    font-size: 25px;
  }

  .common-35 {
    width: 75%;
  }

  .common-25 {
    width: 45%;
  }

  .registration-heading {
    font-size: 20px;
  }

  .registration-table {
    grid-template-columns: repeat(1, 1fr);
  }

  .registration-buttons {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .button {
    margin-left: 0px;
  }
}

/*mobile*/
@media only screen and (max-width:480px) {
  p {
    font-size: 15px;
  }

  ol,
  h2,
  h3 {
    font-size: 15px;
  }

  .main {
    height: auto
  }

  nav {
    width: 100%;
    height: 26px;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
  }

  nav div {
    width: 90%;
  }

  article {
    flex-direction: column;
  }

  article>aside,
  article>section {
    padding: 5px;
  }

  article aside {
    width: 100%;
  }

  article aside a {
    width: 100%;
  }

  section {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0px;
    border: none;
  }

  section div {
    border-radius: 0px 0px 10px 10px;
  }

  .heading {
    font-size: 20px;
  }

  .common-35 {
    width: 75%;
  }

  .common-25 {
    width: 70%;
  }

  .registration-heading {
    font-size: 20px;
  }

  .registration-table {
    grid-template-columns: repeat(1, 1fr);
  }

  .registration-buttons {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .button {
    margin-left: 0px;
  }
}